<div class = "container" id = "container">
<form class="search-form" id="search-form">
    <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="search-form__button"> <span class="material-icons search-btn-icon"> search </span> </button>
</form>

<ul class="gallery" id="gallery">
  <!-- Список <li> с карточками изображений -->
</ul>
<button class="load-more-btn btn is-hidden" disabled type="button" id="load-more-btn">
      <span
        class="spinner-border spinner-border-sm spinner is-hidden"
        role="status"
        aria-hidden="true"
      ></span>
      <span class="label">Load more</span>
</button>
<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox__content">
    <img class="lightbox__image" src="" alt="" />
  </div>

  <button
    type="button"
    class="lightbox__button"
    data-action="close-lightbox"
  ></button>
  
</div>


<a class="back_to_top" title="Наверх"><span class="material-icons">
  arrow_upward
  </span></a>


</div>